.body{
    background-color: aquamarine;
  }
  .NAV{
    text-align: left;
    color: aqua;
    padding: 10px;
    background-color:white;
  }
  
  .nav_header {
    background-color: white;
    float: right;
    text-align: right;
  }
  img{
    color:inherit;  
    
  }
  