<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="/style1.css">
</head>
<body>
    <h1>HOME</h1>
    <div id="login"> <a href="http://localhost:8000/login" id="l">Login</a>
        
   <span id="u">New User?<a href="http://localhost:8000/registration"id="r">click here</a>  </span>  
      </div>
   
    
</body>
</html>