<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style3.css">
    <title>Login  </title>
</head>
<body>
    <h1>LOGIN</h1>
  
    <form action="/login" method="POST">
        <label  for="name">UserName</label>
        <input type="text" id="name"name="username"><br>
        <label for="password">Password</label>
        <input type="text" id="password" name="password"><br>
        <input type="submit" value="Submit">
    </form>
    <div className="Home">
        <button id="h">
            HOME
        </button>
        <div id="d">
        </div>
        <script>
            document.getElementById("h").addEventListener('click',()=>{
               window.location.href='/';
            })
    
               </script>
</body>
</html>